<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>手饰</string>
		<string>手表</string>
		<string>帽子</string>
		<string>镜框</string>
		<string>发饰</string>
		<string>耳饰</string>
		<string>手套</string>
		<string>围脖</string>
		<string>项链</string>
		<string>领带</string>
		<string>袜子</string>
	</array>
	<array>
		<string>抱枕</string>
		<string>装饰画</string>
		<string>钟表</string>
		<string>香薰</string>
		<string>收纳整理</string>
		<string>生活神器</string>
		<string>生活家电</string>
		<string>伞</string>
		<string>家居纺饰</string>
		<string>宠物用品</string>
		<string>手帕</string>
	</array>
	<array>
		<string>保温杯</string>
		<string>杯子</string>
		<string>餐具</string>
		<string>吃货神器</string>
		<string>厨具</string>
		<string>烘培道具</string>
		<string>酒具</string>
	</array>
	<array>
		<string>茶叶</string>
		<string>零食</string>
		<string>健康代餐</string>
		<string>糖果糕点</string>
		<string>曲奇饼干</string>
		<string>巧克力</string>
		<string>膨化食品</string>
		<string>咖啡</string>
		<string>酒</string>
		<string>坚果</string>
		<string>果干</string>
		<string>饮料</string>
	</array>
	<array>
		<string>电脑周边</string>
		<string>耳机</string>
		<string>摄影周边</string>
		<string>手机壳</string>
		<string>手机周边</string>
		<string>移动电源</string>
	</array>
	<array>
		<string>办公收纳</string>
		<string>本子</string>
		<string>文具</string>
		<string>贺卡</string>
		<string>卡包</string>
		<string>手帐</string>
		<string>台历</string>
		<string>相框</string>
		<string>书签</string>
	</array>
	<array>
		<string>女士香水</string>
		<string>唇部护理</string>
		<string>手部护理</string>
		<string>身体护理</string>
		<string>头发护理</string>
		<string>护肤套装</string>
		<string>男士护肤</string>
		<string>剃须刀</string>
		<string>手工皂</string>
		<string>眼部护理</string>
		<string>防嗮</string>
		<string>男士香水</string>
		<string>卸妆</string>
		<string>洁面</string>
		<string>爽肤</string>
	</array>
	<array>
		<string>底妆</string>
		<string>腮红</string>
		<string>高光</string>
		<string>眼妆</string>
		<string>唇彩</string>
		<string>美甲</string>
		<string>美妆工具</string>
		<string>彩妆套装</string>
		<string>假发</string>
	</array>
	<array>
		<string>保健品</string>
		<string>口腔护理</string>
		<string>眼部保健</string>
		<string>女性护理</string>
		<string>情趣用品</string>
	</array>
	<array>
		<string>短袖体恤</string>
		<string>冬季外套</string>
		<string>无袖背心</string>
		<string>情侣装</string>
		<string>泳衣</string>
		<string>内衣</string>
		<string>家居服</string>
		<string>长裤</string>
		<string>短裤</string>
		<string>套装</string>
		<string>半身裙</string>
		<string>连衣裙</string>
		<string>运动套装</string>
		<string>外套</string>
		<string>卫衣</string>
	</array>
	<array>
		<string>男士衬衫</string>
		<string>男士短袖</string>
		<string>男士体恤</string>
		<string>男士短裤</string>
		<string>男士长裤</string>
		<string>男士外套</string>
		<string>男士卫衣</string>
		<string>男士内衣</string>
		<string>男士毛衣</string>
	</array>
</array>
</plist>
