<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>integralImage1</string>
		<key>name</key>
		<string>Hello Kitty 化妆刷套装</string>
		<key>integral</key>
		<string>600</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage2</string>
		<key>name</key>
		<string>趣味零食手机包</string>
		<key>integral</key>
		<string>700</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage3</string>
		<key>name</key>
		<string>日式复古风铃</string>
		<key>integral</key>
		<string>750</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage4</string>
		<key>name</key>
		<string>简约现代冰花彩色玻璃烛台</string>
		<key>integral</key>
		<string>990</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage5</string>
		<key>name</key>
		<string>便捷式应急除污液</string>
		<key>integral</key>
		<string>1100</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ticket1</string>
		<key>name</key>
		<string>满150减18优惠券</string>
		<key>integral</key>
		<string>1150</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>ticket2</string>
		<key>name</key>
		<string>满150减38优惠券</string>
		<key>integral</key>
		<string>1900</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage6</string>
		<key>name</key>
		<string>游泳圈小动物USB加湿器</string>
		<key>integral</key>
		<string>1400</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage7</string>
		<key>name</key>
		<string>森系帆布单肩包</string>
		<key>integral</key>
		<string>1500</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>integralImage8</string>
		<key>name</key>
		<string>会发光的海藻球生态瓶</string>
		<key>integral</key>
		<string>1900</string>
	</dict>
</array>
</plist>
