<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Personal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1264EFB1BCCF9AF008D3404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1264F141BCCF9B0008D3404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1264F1F1BCCF9B0008D3404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
